
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap');#top-part{
    width: 80%;
    margin: auto;
    position: relative;
}
body{
    background-color: #ffffff;
}

div{
    /* border: 1px solid black; */
}
#top-part{
    width: 70%;
    height: 450px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#top-part>div{
    height: 100%;
}

#top-first{
    width: 65%;
    
}
#top-second{
    width: 30%;
}

#image-part>img{
    width: 100%;
}

#bottom-part{
    position: absolute;
    background-color: white;
    bottom: 20px;
    left: 25px;
    width: 350px;
    line-height: 18px;
    padding: 10px 10px;
}
#bottom-part p{
    margin-left: 15px;
}
.heading{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.underhead{
    font-family: 'Montserrat', sans-serif;
    /* text-transform: uppercase; */
    font-size: 13px;
    opacity: 0.7;
}

#second-image{
    height: 60%;
    width: 100%;
    /* border: 1px solid teal; */
}

#second-image>img{
    width: 100%;
    height: 100%;
}
#second-bottom{
    height: 40%;
    width: 100%;
    /* border: 1px solid blue; */
    text-align: center;
    line-height: 18px;
}

#mid-heading{
    width: 70%;
    margin: auto;
    height: 320px;
    text-align: center;
}

#mid-heading>h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
    /* text-transform: uppercase; */
}

#images{
    height: auto;
    width: 70%;
    margin: auto;
    padding-top: 20px;
}

#image-1{
    width: 65%;
    height: 530px;
    margin: auto;
    
    margin-bottom: 20px;
}
.image-block{
    text-align: center;
}
.image-block>img{
    width:100%;
}
#images-bottom{
    display: flex;
    justify-content: space-between;
}
#image-left-bottom{
    width: 37%;
    height: 1000px;
}

#image-right-bottom{
    width: 48%;
}
#image-left-bottom>div{
    width: 100%;
    height: 48%;
}

#image-3{
    margin-top: 20px;
}

#image-right-bottom>div:nth-child(1){
    width: 100%;
    height: 15%;
}
#image-right-bottom>div:nth-child(3){
    width: 100%;
    height: 15%;
}

#top-pics{
    width: 70%;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#slider{
    width: 100%;
    height: 250px;
    border: 1px solid red;
}

#gradient{
    width: 70%;
    height: auto;
    margin: auto;
    color: white;
    margin-top: 300px;
}

#gradient>img{
    width: 100%;
}

#gradient-text{
    position: absolute;
    bottom: 650px;
    left: 480px;
    /* background-color: white; */
    width: 400px;
    height: 100px;
    line-height: 18px;
    text-align: center
    /* padding: 10px 10px; */
}

#gradient-text>h1{
    font-size: 25px;
    letter-spacing: 2px;
}

#gradient-text>p{
    font-size: 14px;
    opacity: 0.9;
}

#gradient-text>a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration-line: underline;
}