
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap');#top-part{
    width: 80%;
    margin: auto;
    position: relative;
}
body{
    background-color: #F3F3F3;
}
#top-part>#top-content{
    background-color: #1FE198;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 6px;
    padding: 10px;
}
#top-part>#top-content>p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#top-part>#top-content>p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
#top-part>#image-part{
    width: 100%;
}


#top-part>#image-part>img{
    width: 100%;
}

#top-part>#bottom-part{
    position: absolute;
    background-color: white;
    bottom: 30px;
    left: 30px;
    width: 350px;
    line-height: 18px;
    padding: 10px 15px;
}
#top-part>#bottom-part>p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0.7;
}
#top-part>#bottom-part>p:nth-child(1){
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
#top-part>#bottom-part>p:nth-child(3){
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
}


/* building the designer section */
#designer-section{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

#designer{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    justify-content: space-around;
    z-index: 100;
    top: -50px;
    left: 370px;
    align-items: center;
    width: 300px;
    height: 450px;
    padding: 20px;
}
#designer>p{
    opacity: 0.3;
    font-family: 'Montserrat', sans-serif;
}
#designer>div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: center;

}
#designer>div:nth-child(2)>a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
#designer>div:nth-child(3)>a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#new-arrivals{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 50px;
}
.new-arrivals{
    flex-basis: 25%;
    font-family: 'Montserrat', sans-serif;
}
.new-arrivals>p:nth-child(1){
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 300;
}
.new-arrivals>p:nth-child(2){
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
}
#new-product{
    flex-basis: 73%;
    position: relative;
}
.my__arrows{
    background: #333333;
    align-items: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 3em;
    justify-content: center;
    opacity: .7;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3em;
    z-index: 1;
    fill: white;
}
.cards{
    background-color: green;
    width: 100%;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards>img{
    width: 100%;
}
.cards>p{
    margin-top: 25px;
}
.cards>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    line-height: 2px;
    margin-top: 5px;
}
#featured-product{
    margin-top: 60px;
}

/*     align-items: center;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 2em;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    z-index: 1; */