#additionalGrid{
    /* border:1px solid green; */
    display:flex;
    margin:auto;
    margin-bottom: -130px;
    width:70%;
    justify-content: space-between;
            }
            #additionalGrid>div{
                width: 40%;
            }
            #ag1{
                /* border:2px solid red; */
                display: flex;
                justify-content: space-around;
            }
            #ag1>div{
                width:40%;
                margin:auto;
            }
            #ag2{
                /* border:2px solid red; */
                display: flex;
                justify-content: space-around;
            }
            #ag2>div{
                width:40%;
                margin:auto;
            }
#about{
    display:flex;
    height:350px;
    /* border:2px solid red; */
    width:70%;
    margin:auto;
    margin-top:100px;
    justify-content: space-between;

}
#about>div{
    /* border:2px solid green; */
height:90%;
width:15%
}
#about :nth-child(3){
    /* height:100px; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
}
#about :nth-child(3)>input{
    width: 80%;
}
#about :nth-child(3)>div:nth-child(4){
    display: flex;
    gap: 10px;
    align-items: center;
}
#about :nth-child(3)>div:nth-child(5){
    display: flex;
    text-align: center;
    margin-top: 5px;
}
#about button{
    width:60%;
    height:50px;
margin:auto;
background-color: rgb(51,51,51);
border:none;
color:white;
}

#input{
    width:84%;
    margin-left:30px;
    /* border:1px solid red; */
}
/* #radio{
    margin-left:10px;
    font-size: larger;
} */
#about p{
    text-align: center;

}
#footer1{
    display:flex;
    /* border:1px solid red; */
    justify-content: space-around;
    /* align-items: center; */
}
a{
    text-decoration: none;
    color:black
}
#footer{
    background-color:rgb(51,51,51); 
height:100px;
display: flex;
align-items: center;
}
#footer div{
    color:white;
    text-align: center;
    width:80%;
    margin: auto;
    margin-top:15px;
    /* border: 1px solid red; */
}