#about{
    display:flex;
    height:350px;
    /* border:2px solid red; */
    width:70%;
    margin:auto;
    margin-top:100px;
    justify-content: space-between;

}
#about>div{
    /* border:2px solid green; */
height:90%;
width:15%
}
#about>div:nth-child(3){
    width: 30%;
    height:350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#about>div:nth-child(3)>button{
    width:60%;
margin:auto;
background-color: rgb(51,51,51);
border:none;
color:white;
padding: 10px;
}

#input{
    width:84%;
    margin-left:30px;
    /* border:1px solid red; */
}
/* #radio{
    margin-left:10px;
    font-size: larger;
} */
#about p{
    text-align: center;

}
#footer1{
    display:flex;
    /* border:1px solid red; */
    justify-content: space-around;
    /* align-items: center; */
}
a{
    text-decoration: none;
    color:black
}
#footer{
    background-color:rgb(51,51,51); 
height:100px;
display: flex;
}
#footer div{
    color:white;

    width:80%;
    margin: auto;
    margin-top:15px;
    /* border: 1px solid red; */
}
#logo{
    display: flex;
/* border:1px solid green; */
width:40%;
margin:auto;

}
#logo img{
    width:20%;
}