body{
    margin: 0px;
    padding: 0px;
}
#head{
    
    width: 77%;
    margin: auto;
    
    
}

#head>div:nth-child(1){
    text-align: center;
     text-decoration: underline; 
     text-decoration-color: #fffe94;
     
     margin-top: 0px;
     padding-top: 20px;

    
   
}
#head>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}
#head>div:nth-child(2)>div{
    display: flex;
    
    justify-content: space-between;
    width: 150px;
}
#container{
    padding-top: 10px;
    width: 77%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}
#left-menu{
    width: 250px;
    position: relative;
}
#left-menu>div{
    border: 0.1px solid white;
    margin-top: 5px;
    background-color: rgb(245,245,245);
    padding-left: 15px;

}
#post{
    display: grid;
    grid-template-columns: repeat(3,210px);
    gap: 20px;
}
#post>div{
    border: 1px solid black;
    height: 300px;
}
#grayline{
    height: 5px;
    background-color: rgb(245,245,245);
    width: 77%;
    margin: auto;
    margin-top: -10px;
}




