/* body{
    /* background-color:pink; */
    /* position: relative; */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@300;500&family=Playfair+Display:wght@700&family=Poppins:wght@300;500;700&family=Roboto&family=Roboto+Condensed&display=swap');

    *{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    #main{
        /* border:1px solid red; */
        display:flex;
        width:70%;
        padding: 10px;
        background-color:white;
        /* justify-content:end; */
        justify-content: space-between;
        margin:auto;
        /* height:600px; */
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;        /* position:fixed; */
    }
        #main>div{
            width:30%;
            /* margin:auto; */
            /* border:1px solid green; */
            height:100%
        }
        #sub{
            /* border:1px solid red; */
            display:flex;
            /* justify-content:end; */
            justify-content: space-evenly;
            /* margin:auto; */
            /* height:400px; */
        }
        #sub>div{
            /* width:30%; */
            /* margin:auto; */
            /* border:1px solid blue; */
            height:100%
        }
        #logo>div>img{
            object-fit: cover;
            position: relative;
            z-index: -2;
        }
        #imgHome{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 100px;
            gap:20px;
            width:70%;
            margin:auto;
            margin-top:0px;
        }
         #imgHome img{
            width:100%;
            object-fit: cover;
        } 
      #cat{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
        width:70%;
        margin:auto;
      }
      #cat>div{
        /* border:3px solid red; */
        margin-top:280px;
        display:flex;
        height:70px;
        color:white;
        align-items: center;
        justify-content: center;
        background-color: rgb(51,51,51);
      }
      body{
        text-align: center;
    }
    #additionalGrid{
        /* border:1px solid green; */
        display:flex;
        margin:auto;
        margin-bottom: -130px;
        width:70%;
        justify-content: space-between;
                }
                #additionalGrid>div{
                    width: 40%;
                }
                #ag1{
                    /* border:2px solid red; */
                    display: flex;
                    justify-content: space-around;
                }
                #ag1>div{
                    width:40%;
                    margin:auto;
                }
                #ag2{
                    /* border:2px solid red; */
                    display: flex;
                    justify-content: space-around;
                }
                #ag2>div{
                    width:40%;
                    margin:auto;
                }
    #about{
        display:flex;
        height:350px;
        /* border:2px solid red; */
        width:70%;
        margin:auto;
        margin-top:100px;
        justify-content: space-between;
    
    }
    #about>div{
        /* border:2px solid green; */
    height:90%;
    width:15%
    }
    #about :nth-child(3){
        width:25%;
        /* height:100px; */
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; 
    }
    #about button{
        width:60%;
        height:50px;
    margin:auto;
    background-color: rgb(51,51,51);
    border:none;
    color:white;
    }
    
    #input{
        width:84%;
        margin-left:30px;
        /* border:1px solid red; */
    }
    /* #radio{
        margin-left:10px;
        font-size: larger;
    } */
    #about p{
        text-align: center;
    
    }
    #footer1{
        display:flex;
        /* border:1px solid red; */
        justify-content: space-around;
        /* align-items: center; */
    }
    a{
        text-decoration: none;
        color:black
    }
    #footer{
        background-color:rgb(51,51,51); 
    height:100px;
    display: flex;
    }
    #footer div{
        color:white;
    
        width:80%;
        margin: auto;
        margin-top:15px;
        /* border: 1px solid red; */
    }
    #logo{
        display: flex;
    /* border:1px solid green; */
    width:40%;
    margin:auto;
    
    }
    #logo img{
        width:20%;
    }