#main{
    display:flex;
    width: 80%;
    /* border:2px solid red; */
    margin: auto;
    margin-top:100px;
  
}
body{
    background-color: rgb(239,238,241);
}
#cardImg{
    flex:5;
    padding-bottom: 20px;
    /* border:3px solid blue; */
}
#cardImg img{
    text-align: center;
    width:60%;
    margin-left:140px;
    margin-top:40px;
 background-color: rgb(239,238,241);;
}
#payment h1{
    margin-left:50px;
}
#cvv{
    display:flex;
    /* border:3px solid blue; */
    width:60%;
    margin-left:70px;
}
#cvv input{
 width:30%;
 margin:auto;
}
/* #month{
    flex:-1+;
    border:2px solid red;
}
#cvvv{
    flex:5;
}
#year{
    flex:2;
} */
#payment{
    /* border:2px solid green; */
    margin-left: -40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(255,255,255);
}
#payment > input{
    /* border:2px solid green; */
    width:60%;
    margin-left:70px;
    height:35px;
}
#buttons{
    display:flex;
    margin-top:13px;
    height:40px;
    width:60%;
    margin-left: 70px;
    /* background-color: antiquewhite; */
}
 button{
    background-color: rgb(60,165,239);
    color:white;
    /* width:45%; */
    height:40px;
    margin:auto;
    border:none;
}
#b1{
    width:58%;
    cursor: pointer;
}
#b2{
    width:38%;
    color:rgb(60,165,239);
    background-color: white;
    border:1px solid rgb(60,165,239);
    cursor: pointer;
}